<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="columns">
                <div class="column is-one-third">টিকেট নম্বর </div>
                <div class="column">{{ticket.ticket_id}}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third"> নাম </div>
                <div class="column">{{ticket.name}}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">ইমেইল </div>
                <div class="column">{{ticket.email}}</div>
            </div>
            <div class="columns">
                <div class="column is-one-third">মোবাইল নম্বর </div>
                <div class="column">{{ticket.phone}}</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>